<manifest
    package="com.thefat.lingjunqi.getup"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mine"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity">
        </activity>

        <activity
            android:name=".activity.AlarmActivity"
            android:label="@string/label_alarm_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.AboutActivity">
        </activity>

        <activity
            android:name=".alert.AlarmAlertActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.AlarmPreferencesActivity"/>

        <service
            android:name=".service.AlarmService"
            android:icon="@drawable/ic_ring_blue_36dp"/>

        <receiver android:name=".alert.AlarmAlertBroadcastReceiver"/>
        <receiver android:name=".service.AlarmServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
